.result-wrapper {
	position: relative;
	background-color: #ffffff;

	color: #333333;
	width: 100%;

	padding: 30px 0;
	&:after {
		content: '';
		width: 0px;
		height: 0px;
		/* background: red; */
		position: absolute;
		top: -15px;
		left: 50%;
		transform: translateX(-50%);
		/* border-left: 20px; */
		/* border-color: blue; */
		/* border: 1px solid; */
		border-left: 21px solid;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-bottom: 15px solid white;
	}
	.result-sections-container {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		flex-wrap: wrap;
		#total-cost .result-value:before {
			content: '$';
			// font-size: 40px;
			// position: absolute;
			// left: -25px;
			// top: 25px;
		}
		.result-section {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 240px;

			.title {
				font-size: 15px;
				font-weight: bold;
				// opacity: .9;
				color: #333;
			}
			.results-container {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				.result-value {
					position: relative;
					font-size: 36px;
					line-height: 1.5em;
					color: #47657a;
					font-weight: bold;
				}
				.result-description {
					font-size: 13px;
					color: #555555;

					text-align: center;
					span {
						display: inline-block;
					}

					.additional-info {
						font-size: 12px;
						font-style: italic;
						margin-top: 5px;
					}
				}
			}
		}
	}
}
